@import url('https://fonts.googleapis.com/css?family=Orbitron');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(./clock-pattern.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  background: #ddd;
  width: 400px;
  height: 175px;
  margin: 100px auto;
  position: relative;
  padding: 30px;
}

.badge {
  width: 96px;
  text-align: center;
  background: #e66357;
  text-transform: uppercase;
  color: white;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  top: -13px;
  left: 40%;
}

.clock {
  background: #ebebeb;
  text-align: center;
  font-size: 55px;
  height: 100%;
  padding-top: 35px;
  font-family: 'Orbitron', sans-serif;
  border-radius: 4px;
}